h1 {
  margin-top: 5%;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Prompt', sans-serif;
}

div.a {
  line-height: 230%;
  text-align: center;
}

body {
  background: white;
}

div.b {
  line-height: 230%;
}

.services {
  background: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg');
  color: white;

  background-repeat: no-repeat;
}

.one {
  text-align: inherit;
}

.showing {
  display: none;
  line-height: 150%;

}

.para {
  display: none;
}

.product {
  display: none;
}

.folio {
  text-align: center;
}

.image-1 {
  margin-bottom: 34px;
  position: relative;
  text-align: center;
  float: right;


}

.image-2 {
  float: left;
  position: relative;
}

.image-3 {

  float: left;

  margin-left: 50%;

  position: relative;

}

.image-4 {
  float: left;
  margin-left: 98%;
  position: relative;

}

.image-5 {
  float: right;
  position: relative;
}

.image-6 {
  float: left;
  position: relative;
}

.image-7 {
  float: left;

  margin-left: 50%;
  position: relative;
}

.image-8 {
  float: left;
  margin-left: 98%;
  position: relative;
}

.fol-1 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  display: none;
  margin-top: 12%;
  padding-top: 30%;
  margin-right: 70%;
  margin-left: -15%;
}

.fol-2 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  display: none;
  margin-top: 12%;
  padding-top: 30%;
  margin-right: 70%;
  margin-left: 30%;
}

.fol-3 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  /* padding-left: 100%; */
  margin-top: 12%;
  padding-top: 30%;
  /* margin-right: 70%;  */
  margin-left: 60%;
  display: none;
}

.fol-4 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  display: none;
  margin-top: 12%;
  padding-top: 30%;
  /* margin-right: 70%; */
  margin-left: 110%;
}

.fol-5 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  margin-top: 15%;
  padding-top: 30%;
  margin-right: 70%;
  margin-left: -15%;
  display: none;
}

.fol-6 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  display: none;
  margin-top: 15%;
  padding-top: 30%;
  margin-right: 70%;
  margin-left: 30%;
}

.fol-7 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  display: none;
  margin-top: 15%;
  padding-top: 30%;
  /* margin-right: 70%;  */
  margin-left: 70%;
}

.fol-8 {
  color: white;
  position: absolute;
  text-align: center;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  width: 80%;
  height: 70%;
  display: none;
  margin-top: 12%;
  padding-top: 30%;
  /* margin-right: 70%; */
  margin-left: 110%;
}

.fol-1 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.fol-2 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.fol-3 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.fol-4 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.fol-5 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.fol-6 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.fol-7 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.fol-8 p {
  font-family: 'Anton', sans-serif;
  font-size: 180%;
}

.contact {
  background: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg');
  background-size: cover;
  height: 500px;
  width: 160%;
  margin-top: 5%;
  margin-left: -20%;

}

input[type="text"] {
  background: transparent;
  /* width: 80%; */
}

#exampleFormControlTextarea1 {
  background: transparent;
  width: 50%;
}